{% extends 'base.html' %}

{% block content %}
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                
                <!-- Contact Form -->
                <div class="contact_form">
                    <div class="contact_title">Get in touch</div>

                        <h1>Ups, usted no puede hacer esto</h1>
                        {{exception}}

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    
    {% endblock %}