{% extends 'base.html' %}

{% block content %}


<br><br><br><br><br>
<div class="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				
				<!-- Contact Form -->
				<div class="contact_form">
					


						<form action="{% url 'delete_course' course.id %}" method="POST"> {% csrf_token %}
							<h2> Quiere eliminar este curso </h2>
							<h2> {{course.name}} </h2>
							<input type="submit" value="SI"/>
							<a href="/view_courses"> Cancelar </a>
						</form>

					
				</div>
				
			</div>
		</div>
	</div>
</div>

{% endblock %}