{% extends 'base.html' %}
{% block title %}
    Inicio de sesión
{% endblock %}
{% block content %}
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                
                <div class="contact_form">
                    <div class="contact_title">Get in touch</div>

                    <div class="contact_form_container">

                        {% for message in messages %}
                            <div class="alert alert-success">
                                <a class="close" href="#" data-dismiss="alert">×</a>        
                                {{ message }}        
                            </div>
                        {% endfor %}

                        <form action="login" method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <input class="contact_send_btn trans_200" type="submit" value="Ingresar">
                        </form>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}